In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data/train.csv")

In [5]:
df.head()

  essay_id                                          full_text  score
0  000d118  Many people have car where they live. The thin...      3
1  000fe60  I am a scientist at NASA that is discussing th...      3
2  001ab80  People always wish they had the same technolog...      4
3  001bdc0  We all heard about Venus, the planet without a...      4
4  002ba53  Dear, State Senator\n\nThis is a letter to arg...      3

In [12]:
text = df.full_text[0]
words = text.split()
for i in range(len(words) // 20 + 1):
    print(" ".join(words[i*20:(i+1)*20]))

Many people have car where they live. The thing they don't know is that when you use a car alot
of thing can happen like you can get in accidet or the smoke that the car has is bad to
breath on if someone is walk but in VAUBAN,Germany they dont have that proble because 70 percent of vauban's families
do not own cars,and 57 percent sold a car to move there. Street parkig ,driveways and home garages are forbidden
on the outskirts of freiburd that near the French and Swiss borders. You probaly won't see a car in Vauban's
streets because they are completely "car free" but If some that lives in VAUBAN that owns a car ownership is
allowed,but there are only two places that you can park a large garages at the edge of the development,where a
car owner buys a space but it not cheap to buy one they sell the space for you car for
$40,000 along with a home. The vauban people completed this in 2006 ,they said that this an example of a
growing trend in Europe,The untile states and some where else are suburban life from auto use this is called "smart
planning". The current efforts to drastically reduce greenhouse gas emissions from tailes the passengee cars are responsible for 12 percent
of greenhouse gas emissions in Europe and up to 50 percent in some car intensive in the United States. I
honeslty think that good idea that they did that is Vaudan because that makes cities denser and better for walking
and in VAUBAN there are 5,500 residents within a rectangular square mile. In the artical David Gold berg said that
"All of our development since World war 2 has been centered on the cars,and that will have to change" and
i think that was very true what David Gold said because alot thing we need cars to do we can
go anyway were with out cars beacuse some people are a very lazy to walk to place thats why they
alot of people use car and i think that it was a good idea that that they did that in
VAUBAN so people can see how we really don't need car to go to place from place because we can
walk from were we need to go or we can ride bycles with out the use of a car. It
good that they are doing that if you thik about your help the earth in way and thats a very
good thing to. In the United states ,the Environmental protection Agency is promoting what is called "car reduced"communtunties,and the legislators
are starting to act,if cautiously. Maany experts expect pubic transport serving suburbs to play a much larger role in a
new six years federal transportation bill to approved this year. In previous bill,80 percent of appropriations have by law gone
to highways and only 20 percent to other transports. There many good reason why they should do this.

In [ ]:
text = df.full_text[0]
for i in range(len(text) // 200 + 1):
    print(text[i*200:(i+1)*200])